<h1>Your Contents</h1>
<%= link_to "New Content", new_content_path %>
</br>
</br>

<% @contents.each do |content|%>
  <%= content.title %>
  <%= content.description %>
  <%= link_to 'Edit', edit_content_path(content) %>
  <%= link_to 'Show', content_path(content) %>
  <%= link_to 'Delete', content_path(content), method: :delete, data: {confirm: "ARE YOU SURE?"} %>
  </br>
<% end %>  